body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butterfly {
    width: 50vw;
    max-width: 200px;
    height: auto;
    margin-bottom: 5vh;
}

button {
    padding: 10px 20px;
    margin: 2vh;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
    font-size: 4vw;
    max-width: 80vw;
}

.menu-button, .back-button {
    padding: 10px;
    margin: 5px;
    background-color: grey;
    color: white;
    font-size: 1.2em;
}

.progress-bar {
    width: 80vw;
    height: 5vh;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5vh;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: green;
}

#tasks-list, #friends-list {
    text-align: left;
    margin: 20px;
}
